#version: "3.8"

services:
  tmdb:
    build:
      context: .
      dockerfile: Dockerfile.${DOCKERARMOS}
#      platform: linux/arm64
    container_name: tmdb
    hostname: tmdb
    image: ${TMDBPHPIMAGE}.${DOCKERARMOS}
    ports:
      - "8080:80"
      - "3202:3202"
    volumes:
      - tmdb_php_data:/var/www/html/data:rw # New volume for PHP app data (logs, cache, etc.)
    environment:
      # TMDB Settings
      - TMDB_API_KEY=${TMDB_API_KEY}
      - REAL_DEBRID_TOKEN=${REAL_DEBRID_TOKEN}
      - PREMIUMIZE_TOKEN=${PREMIUMIZE_TOKEN}

      # Network & Access Settings
      - APP_HOST_IP=${APP_HOST_IP}
      - APP_PROXY=${APP_PROXY}

      # Feature Flags
      - INCLUDE_ADULT_VOD=${INCLUDE_ADULT_VOD}
      - CREATE_PLAYLIST=${CREATE_PLAYLIST}
    restart: unless-stopped
    networks:
      cosmos-tmdb-default:

  headlessvidx:
    build:
      context: ./HeadlessVidX
      dockerfile: Dockerfile.${DOCKERARMOS}
#      platform: linux/arm64
    container_name: headlessvidx
    image: ${HEADLESSVIDXIMAGE}.${DOCKERARMOS} # Keep this if you want to use the pre-built image as a fallback or for specific architectures
#    ports:
#      - "3202:3202"
    volumes:
      - headlessvidx_data:/app/files # Changed from vidx_files to headlessvidx_data
      - video_tmp:/app/videos_tmp:rw
    environment:
      - PATH=/app/node_modules/.bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
      - PORT=${PORT}
      - SHOW_BROWSER=${SHOW_BROWSER}
      - HEADLESS_PROXY=${HEADLESS_PROXY}
      - USE_STEALTH_PLUGIN=${USE_STEALTH_PLUGIN}
#      - FIREFOX_EXECUTABLE_PATH=${FIREFOX_EXECUTABLE_PATH}
      - VIDEO_TMP_DIR=${VIDEO_TMP_DIR}
    restart: unless-stopped
    network_mode: "service:tmdb"
#    networks:
#      cosmos-tmdb-default:
#          - ipv4_address: 172.19.0.11
    depends_on:
      - tmdb

networks:
  cosmos-tmdb-default:
    name: cosmos-tmdb-default
    external: false
    driver: bridge

volumes:
  tmdb_php_data: # New volume definition for PHP app data
    name: tmdb_php_data
    driver: local
    external: false
  headlessvidx_data: # Changed from vidx_files
    name: headlessvidx_data
    driver: local
    external: false
  video_tmp:
    name: video_tmp
    driver: local
    external: false
